.container-fluid {

  padding-left: 0px;
  padding-right: 0px;
  height: auto;
  background-color: rgb(204, 204, 204);
}

.container-bg {
  background-color: gray;
}

a {
  color: #5b5c5d !important;
}

.nav-pills {
  justify-content: center;
  -webkit-box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 3px 9px 0px rgba(0, 0, 0, 0.6);
  background-color: #fff;
}

.img-zise {
  height: 30rem;
  width: 5rem;
}

::ng-deep .mat-tab-header {
  justify-content: center;
  display: block;
  margin: auto;
}


.custom-button-map {
  background-image: url('../assets/map.jpg') !important;
  background-size: 100% auto;
  height: 5rem;
  width: 7.8rem;
}

.overlay {
  width: 5rem;
  height: 9rem;
  background-color: rgba($color: #000000, $alpha: 0.6);
  position: fixed;
  // top: 0;
}

.number {
  font-size: 27px;
  font-weight: 500;
  color: #000000;
}

.title {
  color: #005aff;
  font-weight: 700;
  font-size: 19px;
}

.section-description {
  background-color: #cccccc;
}

.mat-card {
  padding: 0rem !important;
  box-shadow: none !important;
}

::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.section-propetries {
  background-color: #fff !important;
  justify-content: center;
  display: block;
  margin: auto;
  //text-align: center;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
  width: 100% !important;

}
::-webkit-scrollbar {
  display: none;
 }
.icon-color {
  color: rgb(59, 180, 236);
}

::ng-deep .mat-tab-body-content {
  background-color: #cccccc !important;
}


.map-dimentions {

  height: 31.5rem;
  width: 100%;
}

.logo {
  background-image: url('../assets/logo.svg');
  background-size: 100% auto;
  height: 2rem;
  width: 2rem;
  background-repeat: no-repeat;
}

::ng-deep .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
  display: none !important;
}

::ng-deep .mat-tab-label {

  font-size: 16px !important;
  white-space: normal !important;
  background-color: transparent;
  color: #218838 !important;
  opacity: 1 !important;
}

/* Styles for the active tab label */
::ng-deep .mat-tab-label.mat-tab-label-active {

  font-size: 16px !important;
  white-space: normal !important;
  background-color: #218838 !important;
  color: #fff !important;
}


::ng-deep .mat-ink-bar {
  background-color: #218838  !important;
  height: 10rem;
  z-index: -1;
}
.c-green{
  color:#218838 ;
}

.dropdown-toggle::after {
  color:#218838 !important;

}

.icon-favorite{
  position: absolute;
    right: 0;
    margin-top: -4rem;
    color: #fff;
    margin-right: 3rem;
    font-size: 55px;
}

.icon-favorite:hover {
 font-size: 66px;
}